*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    background-color: #FBEFC3;
  }
  nav {
    display: flex;
    justify-content: space-between;
    background-color: #1A3925;
    color: #ffff;
    padding: 0 30px;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr;
    height: 80px;
    grid-template-areas: "logo menu";
    align-items: center;
    position: relative;
    z-index: 2;
  }
  .logo{
    width: 3em;
  }
  .title {
    display: flex;
    align-items: center;
    gap: 0.5em;
  }
  nav h1 {
    font-weight: lighter;
    color: #ffff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
  }
  nav ul {
    grid-area: menu;
    list-style: none;
    justify-self: end;
  }
  nav ul li {
    display: inline-block;
    margin: 0 15px;
  }
nav ul li a {
    color: #ffff;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
}
.content{
    display: grid;
    grid-template-columns: 20% 30% 50%;
}
.images{
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    margin-top: 3%;
    margin-left: 10%;
    gap: 20px;
}
.baby{
    margin-left: 20px;
    margin-top: 20%;
}
.about{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    margin-left: -15%;
    margin-right: 10%;
}
h1{
  font-size: 4em;
  color: #1A3925;
}
p{
    color: #1A3925;
    font-size: 1.3em;
}